* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    padding: 1rem;
    text-align: center;
    background-color: #75737327;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  header {
    padding: 0.5rem;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 168, 244);
  }
  
  #dogs {
    position: relative;
  }
  
  detail-image {
    height: 350px;
  }
  
  form {
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  input,
  textarea {
    font-size: 1rem;
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
    margin: 0.25rem 0;
    width: 100%;
  }
  
  input[type="submit"] {
    color: black;
    border: 1px solid black;
    background-color: rgb(218, 168, 244);
    cursor: pointer;
    transition: all 0.3s;
  }
  
  input[type="submit"]:active {
    background-color: gray;
  }
  
  form h2 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: black;
    background-color: rgb(218, 168, 244);
  }